.interface, .model {
    padding-top: 0.25rem;
    border-top: solid 1px #dbdad9;
}

.new-twin {
    background-color:#fdfdfd;
}

.new-twin-separator {
    border-bottom: solid 1px #dbdad9;
    padding-bottom: 0.25rem;
}