.file-viewer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    max-height: 600px;
    position: relative;
    justify-content: stretch;
}

.opcua-wrapper {
    width: 50%;
    min-width: 200px;
    flex-grow: 1;
}

.twins-wrapper {
    min-width: 400px;
    flex-grow: 1;
}

.flatten-toggle {
    min-width: 150px;
}

.twins-viewer {
    width: 50%;
}

.group-header {
    border-bottom: solid 1px #eee;
}

.viewer-container {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    max-height: 100%;
    width: 100%;
    padding: 0.5rem;
    border: solid 1px #a19f9d;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 5px rgb(0 0 0 / 0.2);
}

.selected {
    background-color: lightyellow;
}

.selectable:hover {
    font-weight: bold;
}

.unselected {
    background-color: inherit;
}