.row {
    display: flex;
    width: 100%;
}

.clickable {
    cursor: pointer;
}

.menu-icon {
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewer-card {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    word-wrap: break-word;
    padding: 0.5rem;
}

.font-small {
    font-size: small;
}

.font-medium {
    font-size: medium;
}

.selected {
    background-color: lightyellow;
}

.selectable:hover {
    font-weight: bold;
}